body {
    padding: 0px;
    margin: 0px;
    display: grid;
}
.nav-bar {
    position: relative;
}

a {
    display: inline;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
    line-height: 28px;
}

.right {
    float: right;
}

.left {
    float: left;
}


.icon {
    background-position: -132px -38px;
    opacity: .55;
    background-image: url(top-icon.png);
    box-sizing: border-box;
    height: 30px;
    width: 30px;

}

.signin {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    padding-right: 12;
    padding-left: 12px;
    border-radius: 1px;
}

#logo-big-div {
    height: 233px;
    margin-top: 89px;
    text-align: center;
    width: 100%;
}

img {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    
}


#search-box {
    width: 100%;
    text-align: center;
}

#box {
    width: 584px;
    border: 0px;
    background-color: lightblue;

}

.btn {
    
}