body {
    padding: 0px;
    margin: 0px;
    display: grid;
}
.nav-bar {
    position: relative;
    height: 28px;
}

.nav-bar a{
    display: inline;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: rgba(109, 51, 51, 0.87);
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
    line-height: 28px;
}

.right {
    float: right;
}

.left {
    float: left;
}


.icon {
    background-position: -132px -38px;
    opacity: .55;
    background-image: url(top-icon.png);
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    display: inline-block;

}

.signin {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    padding-right: 12;
    padding-left: 12px;
    border-radius: 1px;
}

#logo-big-div {
    height: 233px;
    margin-top: 89px;
    text-align: center;
    width: 100%;
}

img {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    
}


#search-box {
    width: 100%;
    text-align: center;
}

#box {
    width: 478px;
    height: 33px;
    border: 0px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    vertical-align: middle;
    margin-bottom: 5;


}





#foot {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%


}

#boxx {
    display: inline-block;
    border: 2px solid rgba(109, 129, 165, 0.349) ;
    border-radius: 25px; 
    padding: 5px 8px 0 16px;
    width: auto;

    
}

#boxx:hover {
    box-shadow: 0 0 3px gray;
}

#search-icon {
    height: 14px;
    width: 11px;
    padding-right: 4px;
    padding-left: 3px;


}


#box:focus {
    outline-style: none;
    font-size: 16px;


}

#mic-icon {
    height: 17px;
    width: 13px;
    padding-right: 4px;
    padding-left: 3px;

}