body {
    padding: 0px;
    margin: 0px;


}

a {
    display: inline;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
}

.right {
    float: right;
}

.left {
    float: left;
}


.icon {
    background-position: -132px -38px;
    opacity: .55;
    background-image: url(top-icon.png);
    z-index: 10;
    overflow: visible;
    box-sizing: border-box;
    height: 30px;
    width: 30px;

}

.signin {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    padding-right: 12;
    padding-left: 12px;
    border-radius: 1px;
}